<div class="search-box position-relative overflow-hidden w-100">
    <div class="search-wrap">
        <div class="close-button position-absolute">
            <svg class="close" width="22" height="22">
                <use xlink:href="#close"></use>
            </svg>
        </div>
        <form id="search-form" class="text-center pt-3" action="" method="">
            <input type="text" class="search-input fs-5 p-4 bg-transparent" placeholder="Search...">
            <svg class="search" width="22" height="22">
                <use xlink:href="#search"></use>
            </svg>
        </form>
    </div>
</div>
