<section class="subscribe padding-large pb-0">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe-content">
                    <div class="subscribe-header">
                        <h2 class="display-4">Get offers & discounts by subscribing us</h2>
                    </div>
                    <form id="form">
                        <input type="text" name="email" placeholder="Enter Your Email Address"
                               class="w-100 bg-light border ps-5 fst-italic">
                        <button class="btn btn-full btn-black text-capitalize">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
